{% extends "layout.html" %}
{% block title %} - Text Reminders{% endblock %}
{% block content %}
  Which state are in:
  <select id="state">
    <option selected disabled>Please Choose a state.</option>
    {% for abbrv, state in states.items(): %}
    <option value="{{ abbrv }}">{{ state }}</option>
    {% else %}
    <option disabled>No states are configured at this time.</option>
    {% endfor %}
  </select>
  <button type="button" id="go_state" disabled="disabled">Go</button>
  <script>
    $(function () {
      var btn, state;
      btn = $('#go_state').on('click', function () {
        window.location = state.val();
      });
      state = $('#state').on('change', function () {
        btn.removeAttr('disabled');
      });
    });
  </script>
{% endblock %}
